<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resumen Curricular</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Habilidades/Diseños</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>AutoCAD/LibreCAD(Open Source)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Revit</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>FreeCAD</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Civil 3D</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Metodología BIM</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">TIC</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Ofimática Windows/GNU_Linux</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Sistema para el control de versiones (GIT)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Sozi/presentaciones dinámicas</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>GIMP (manipulación de imágenes)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Personales</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Resolución de Conflictos</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Organización y Métodos</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Empatía/Flexibilidad</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Creatividad/Resilencia</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Ciclismo</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>trotar</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Tenis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Música</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Idiomas</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Español_Nativo</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Inglés</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
<!--            <div class="skillbar clearfix " data-percent="50%">-->
<!--                <div class="skillbar-title"><span>Spanish</span></div>-->
<!--                <div class="skillbar-bar"></div>-->
<!--                <div class="skill-bar-percent">50%</div>-->
<!--            </div>-->
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
<!--            <div class="skillbar clearfix " data-percent="60%">-->
<!--                <div class="skillbar-title"><span>Swiss</span></div>-->
<!--                <div class="skillbar-bar"></div>-->
<!--                <div class="skill-bar-percent">60%</div>-->
<!--            </div>-->
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">CV</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="assets/docs/curriculum_IngWendyUlacio_Oct2019.pdf" target="_blank">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experiencia</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Ingeniero BIM / Consultor <span class="duration"><i class="fa fa-calendar color"></i> Junio 2019 - Actualidad</span></h5>
                <h6><span class="fa fa-briefcase"></span> BIM ForumUY - Independiente </h6>
                <p> Elaboración de Planes de Ejecución BIM para proyectos públicos, usando los TDR (Términos de Referencia BIM)
                    para UY, estándares y buenas prácticas internacionales.
                    Proyecto: CAIF_Aeroparque / Llamado CND 06/2019
                    Empresas: MTA Ingeniería / GLB Arquitectos.
                    Miembro en el BIM Forum UY equipo de trabajo Normativa y Estándarización. Funciones: Análisis de normativa,
                    estándares y buenas prácticas internacionales para la implementación BIM en Uruguay.
                    Estudio y práctica permanente con software BIM edificaciones: Revit 2019 Modelado 3D, infraestructura:
                    Civil 3D Diseño de carreteras.</p>
            </li>
            <li>
                <h5>Ingeniero de Proyectos<span class="duration"><i class="fa fa-calendar color"></i> Dic. 2009 - Marzo 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Grupo Civil Proyect c.a. VE </h6>
                <p>Proyectos, inspección y residencia en obras civiles. Proyecto habitacional 45 Viviendas_gestión y
                    obtención de permiso de construcción, revisión y modificación de planos. Elaboración de Planos AutoCAD / LibreCAD
                    y gestión de permisos sanitarios y de bomberos. Diseños (Sketchup) y ejecución de cocinas empotradas
                    y refracciones en general. </p>
            </li>
            <li class="first">
                <h5>Docente CAD<span class="duration"><i class="fa fa-calendar color"></i> Jul. 2010 - Marz. 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> UPTAEB</h6>
                <p> Universidad Politécnica "Andrés Eloy Blanco", Docente CAD - Coordinadora del área y de
                    trabajos especiales de grado en la facultad de Ingeniería en Higiene y Seguridad Laboral. </p>
            </li>
            <li class="first">
                <h5>Especialista I y II<span class="duration"><i class="fa fa-calendar color"></i> Feb. 2007 - Nov. 2009</span></h5>
                <h6><span class="fa fa-briefcase"></span> CVA </h6>
                <p> Corporación Venezolana Agraria (actualmente CVAL). Ingeniero de Proyecto y Gestión de Obras
                    (civiles: oficinas, galpones, puentes grúas). CVA Leguminosas del Alba, CVA Transporte y Mecanizado
                    Agrícola Pedro Camejo. </p>
            </li>

            <li class="first">
                <h5>Ingeniero de Proyectos<span class="duration"><i class="fa fa-calendar color"></i> Feb. 2006 - Ene. 2007 </span></h5>
                <h6><span class="fa fa-briefcase"></span> PIMOCA /TRANSBARCA </h6>
                <p> Diseño vial e inspección de la obra Sistema de transporte masivo (TROLEBÚS) para la ciudad de Barquisimeto
                    TRANSBARCA. AutoCAD, Civil3D.</p>
            </li>
            <li class="first">
                <h5>Pasante<span class="duration"><i class="fa fa-calendar color"></i> Feb. 2006 - Ene. 2007 </span></h5>
                <h6><span class="fa fa-briefcase"></span> IAFE / IMVI </h6>
                <p> IAFE (Instituto Autónomo de Ferrocarriles del Estado) IMVI (Instituto Municipal de la Vivienda).
                    Inspección de obra para la refracción o restauración de las estaciones ferroviarias de tramo Simón Bolívar.
                    Asistente de inspector de obra en IMVI y FUNREVI.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Educación</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Ingeniería Civil <span class="duration"><i class="fa fa-calendar color"></i> 2000- 2006</span></h5>
                <h6><span class="fa fa-book"></span> UCLA </h6>
                <p>Universidad Centroccidental "Lisandro Alvarado". Cuadro de Honor 2006.</p>
            </li>
            <li>
                <h5>Diplomados <span class="duration"><i class="fa fa-calendar color"></i> </span></h5>
                <h6><span class="fa fa-book"></span> UPTAEB/UPEL </h6>
                <p> Higiene y Seguridad Laboral. Oct. 2010 – Jul. 2011. Estudios de Educación a Distancia mediadas por las
                    T.I.C. Ene -Nov. 2016. Diplomado en Docencia Universitaria en UPEL.Oct 2009 – Jun. 2010.</p>
            </li>
            <li>
                <h5>Complementarios<span class="duration"><i class="fa fa-calendar color"></i> 40 Horas</span></h5>
                <h6><span class="fa fa-book"></span> AUTODESK Renders Factory </h6>
                <p>Certificado por culminación Curso REVIT Especialidad Arquitectura.</p>
            </li>
            <li>
                <h5>Complementarios<span class="duration"><i class="fa fa-calendar color"></i> </span></h5>
                <h6><span class="fa fa-book"></span> Congresos / Webinars </h6>
                <p>Taller Licitaciones BIM (CAD IT 3 horas), 3er Encuentro BIMUY, Taller BIM test Drive ARCHICAD 6 horas,
                    webinar PROYETECH implementación Lean Construction 2 horas, Taller de Roles BIM UY 6 horas.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
<!--        <div class="title_content">-->
<!--            <div class="text_content">Awards</div>-->
<!--            <div class="clear"></div>-->
<!--        </div>-->
        <!-- /.title_content -->
        
        <!-- .attributes -->
<!--        <ul class="attributes">-->
<!--            <li class="first">-->
<!--                <h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>-->
<!--                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>-->
<!--                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>-->
<!--            </li>-->
<!--            <li>-->
<!--                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>-->
<!--                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>-->
<!--                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>-->
<!--            </li>-->
  
<!--        </ul>-->
        <!-- /.attributes -->
<!--        <br>  -->
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Referencias</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
<!--                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">-->
                <p>UPTAEB /
                    Ing. Jesús Guerrero (Coordinador General Proyectos)
                    Telf: +58 4166518781

                <p> Quanam / UY
                    Ing. Jorge Escalona
                    Telf: 098698848

                <p> Quanam / UY
                    Lic. Viviana Morales
                    Telf: 095143453


                </p>
                <p> GCP / Proyecto ACCUDEL
                    Asociación Civil Ciudad Universitaria Proyecto 45 viviendas unifamiliares

                </p>
                <p> Lic. Egle Herrera Telf.: +58 4269013712  Lic. Rafael González  Telf: +54 91122524081
                    Ing. Oscar Aguilar Telf: +58 414549700
                </p>
                <span></span>
            </li>
<!--            <li class="clearfix">-->
<!--                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">-->
<!--                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>-->
<!--                <span>Leia Calvi, UX Designer</span>-->
<!--            </li>-->
<!--            <li class="clearfix">-->
<!--                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">-->
<!--            <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>-->
<!--                <span>Maria Callas, UX Designer</span>-->
<!--            </li>-->
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->