<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Sobre mi</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Ingeniero Civil</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Wendy Ulacio</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>date and place of birth</label>
                <span class="value">27 Abril Venezuela</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Montevideo Uruguay</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">wendyulacio@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+598 98299094</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">https://www.linkedin.com/in/ingwendyulacio/</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
          Egresada en el año 2006 del Decanato de Ingeniería Civil de la Universidad Centroccidental "Lisandro Alvarado" (UCLA) Venezuela,
            desde entonces me he desempeñado como Ingeniero de Proyectos, Residente e Inspector tanto de obras de edificación
            como infraestructuras, además de ejercer en paralelo la investigación y docencia contribuyendo con la formación
            de futuros ingenieros.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            "Metodología BIM (Building Information Modeling)" por el gran beneficio que traerá la transformación digital
             en el sector de la construcción, soy investigadora constante de esta metodología y su aplicación en distintos
             software privados y Open Source, próximamente en mi Blog "Entusiastas BIM" avances sobre mis investigaciones.


        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Actividades</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>BIM</h6>
                    <p>Analizar normativa y referencias internacionales ISO 19650 (gestión de la información BIM), ISO 16739 IFC (estándar de formato abierto
                        Open BIM interoperabilidad), entre otros estándares y buenas pŕacticas.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Herramientas y Software</h6>
                    <p>Metodología BIM, Revit, FreeCAD (Open Source)
                    CAD: AutoCAD, LibreCAD (Open Source), Civil 3D, otros. Sistemas Operativos:
                    Windows y GNU/Linux. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>A donde Voy...</h6>
                    <p>A la Transformación digital: BIG Data, sensores en OBRA, CDE entorno de datos comunes "Trabajo Colaborativo", entre otros.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<!--<div class="clear"></div>&ndash;&gt;-->
<!--<div class="border-list"></div>&ndash;&gt;-->

<!--<div class="row">&ndash;&gt;-->
<!--<div class="col-md-12">&ndash;&gt;-->
<!--    <div class="bottom-p">-->
<!--        <div class="title_content">-->
<!--            <div class="text_content">My Services 2</div>-->
<!--            <div class="clear"></div>-->
<!--        </div>-->
<!---->
<!--        <div class="panel-group" id="accordion">-->
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-heading">-->
<!--                    <h4 class="panel-title">-->
<!--                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">-->
<!--                            Making Money-->
<!--                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>-->
<!--                        </a>-->
<!--                    </h4>-->
<!--                </div>-->
<!--                <div id="collapseOne" class="panel-collapse collapse in">-->
<!--                    <div class="panel-body">-->
<!--                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-heading">-->
<!--                    <h4 class="panel-title">-->
<!--                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">-->
<!--                            Easy to Customize-->
<!--                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>-->
<!--                        </a>-->
<!--                    </h4>-->
<!--                </div>-->
<!--                <div id="collapseTwo" class="panel-collapse collapse">-->
<!--                    <div class="panel-body">-->
<!--                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-heading">-->
<!--                    <h4 class="panel-title">-->
<!--                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">-->
<!--                            Moving Let Us Help-->
<!--                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>-->
<!--                        </a>-->
<!--                    </h4>-->
<!--                </div>-->
<!--                <div id="collapseThree" class="panel-collapse collapse">-->
<!--                    <div class="panel-body">-->
<!--                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!-- end service 2 -->

<!--<div class="clear"></div>-->
</div>
<!-- End .profile -->